<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated smart_office -->
      <package
            uri="http://momot.big.tuwien.ac.at/smart_office/2.0"
            class="smart_office.Smart_officePackage"
            genModel="metamodel/smart_office.genmodel"/>
   </extension>

</plugin>
